@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lora&display=swap");

body {
  background-color: hsla(231, 55%, 10%, 0.9);
  z-index: 10;
  margin: 25px;
}

.container-karaoke {
  display: inline-block;
}

h1 {
  color: #f1f1f1;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6em;
}
